@import './base.css';

/* -----------------------------------------------------
		APP
   ----------------------------------------------------- */
   .header-lg {
    background-color: #f2f2f2;
  }
  .header-lg .logo {
    text-align: center;
    position: absolute;
    top: 3px;
  }
  .header-lg .logo_wrapper {
    position: relative;
  }
  .header-lg .header-top {
    background-color: #2f2c2d;
    color: #fff;
    padding: 0.3em 0;
  }
  .header-lg .header-top a {
    color: #fff;
  }
  .header-login a {
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.2em 1.6rem;
  }
  .header-lg .header-social a {
    width: 17px;
    height: 17px;
    margin: 0 0.3em;
  }
  
  .header-lg .navbar {
    padding: 0;
    margin: 2px 0;
  }
  
  .header-lg .lg-menu li {
    border-right: 1px solid #efefef;
  }
  .header-lg .lg-menu .nav-item .nav-link {
    font-size: 1em;
    color: #3a3a3a;
    padding: 1.8em 1.6em;
  }
  .header-lg .lg-menu .nav-item a:hover,
  .header-lg .lg-menu .nav-item .router-link-exact-active {
    color: #e24585;
  }
  .header-lg .search-right {
    padding: 0.6em 0 0;
  }
  .header-lg .cart {
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
  }
  .header-lg .cart .cart-badge {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    background: red;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
  }
  .header-lg .dropdown-menu {
    min-width: 12rem;
    padding: 0;
    border: 0;
  }
  .header {
    height: 60px;
  }
  .header .fixed-header {
    padding: 10px 4px;
  }
  .header-links {
    position: relative;
  }
  .header .header-links .btn-link {
    border: none;
    background: none;
    cursor: pointer;
    color: #212121;
    font-size: 17px;
  }
  .header .header-links .cart-badge {
    position: absolute;
    top: -7px;
    right: -10px;
    min-height: 20px;
    min-width: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 11px;
    background: #ee4899;
  }
  
  #mySidenav #main-menu .router-link-exact-active {
    background-color: #e24585;
    color: #fff;
  }
  
  .innerpage-section-padding p {
    font-size: 1rem;
  }
  
  .dlist-inline dt,
  .dlist-inline dd {
    display: inline-block;
  }
  
  #footer {
    background: #2f2c2d;
  }
  
  /* -----------------------------------------------------
        Home
       ----------------------------------------------------- */
  .card-banner .card-body {
    background-size: cover;
    position: relative;
    z-index: 10;
  }
  .card-banner .text-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 7px 20px;
    padding-top: 30px;
    border-radius: 0 0 0.25rem 0.25rem;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    color: #fff;
  }
  
  /* -----------------------------------------------------
        Categories
       ----------------------------------------------------- */
  figure {
    margin: 0 0;
  }
  #categories .card:hover {
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }
  
  #categories img {
  }
  
  #categories .view-btn {
    background-color: #ee4899;
    margin: -25px 0 0 0;
    border-radius: 0 0 0 0;
    font-size: 24px;
    border: #ee4899;
    color: #fff;
  }
  #categories .btn:hover {
    background-color: #ff4444;
    color: #fff;
    border: 2px solid #ff4444;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }
  
  /* -----------------------------------------------------
        Categories
       ----------------------------------------------------- */
  
  /* -----------------------------------------------------
        Categories
       ----------------------------------------------------- */
  
  /* -----------------------------------------------------
        Product Details
       ----------------------------------------------------- */
  .product-details {
    border-bottom: 2px solid #f5f5f5;
    padding: 30px 0;
  }
  .product-details__image {
  }
  .product-details__description {
    padding-top: 30px;
  }
  .product-details__description small {
    color: #808080;
  }
  .product-details__description h3 {
    margin: 5px 0 30px 0;
  }
  .product-details__price-cart {
    display: flex;
    padding-top: 30px;
  }
  .product-details__price-cart p {
    flex-grow: 2;
    font-size: 20px;
    font-weight: bold;
  }
  .price {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }
  #menu-gallery li img {
    max-height: 450px;
  }
  .no-back .nav-tabs li {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
  }
  .no-back .nav-tabs li a {
    border: 0px;
    color: #212121;
    padding: 11px 15px;
  }
  .no-back .nav-tabs li a.active {
    border-bottom: 3px solid transparent;
  }
  .no-back .nav-tabs li a.active {
    border-color: #ee4899;
    color: #ee4899;
  }
  .error {
    color: red;
    background: #f1ecee;
    padding: 10px;
  }
  .multiselect__tag {
    background: #ee4899;
  }
  .multiselect__option--highlight,
  .multiselect__option--highlight::after {
    background: #ee4899;
  }
  .multiselect__tag-icon:after {
    color: #000;
  }
  
  /* -----------------------------------------------------
        Stepper
       ----------------------------------------------------- */
  .steps-container {
    display: flex;
    padding-top: 20px;
  }
  
  .step {
    text-align: center;
    flex: 1;
    cursor: default;
    position: relative;
  }
  
  .step .line {
    height: 0px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% + 40px);
    width: calc(100% - 85px);
  }
  
  .step .circle {
    padding: 16px 20px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 12px;
  }
  
  .step-active .circle {
    background: #ee4899;
    color: #fff;
  }
  
  .step-done .circle {
    background: #ee4899;
    color: #eee;
  }
  
  .step-inactive .circle {
    background: rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
  }
  
  .step-active .label {
    color: #ee4899;
  }
  
  .step-done .label {
    color: #ee4899;
  }
  
  .step-inactive .label {
    color: rgba(0,0,0,.2);
  }
  
  .step-done .line {
    border-color: #ee4899;
  }
  
  .step-inactive .line,
  .step-active .line {
    border-color: rgba(0,0,0,.2);
  }
  